In [1286]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import math
import random
from sklearn.preprocessing import PolynomialFeatures, StandardScaler


np.random.seed(38)
random.seed(38)

og_df = pd.read_csv('train.csv')
df = pd.read_csv('train.csv')
df.loc[df['id'] == 23807600, 'price']

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

17881    195.0
Name: price, dtype: float64

In [1287]:
X = df.copy().drop('price', axis = 1)
y = df['price'].copy()

In [1288]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

df = X_train

In [1289]:
print(len(df))

25153

In [1290]:
df.describe()

,id,host_id,host_acceptance_rate,host_listings_count,accommodates,bathrooms,bedrooms,beds,square_feet,guests_included,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,reviews_per_month
count,2.515300e+04,2.515300e+04,0.0,25149.000000,25153.000000,25103.000000,25134.000000,25133.000000,256.000000,25153.000000,...,25153.000000,19398.000000,19376.000000,19387.000000,19362.000000,19376.000000,19363.000000,19360.000000,25153.000000,19930.000000
mean,1.565451e+07,5.421677e+07,NaN,9.826713,2.856121,1.140302,1.177847,1.568575,749.539062,1.505347,...,21.526220,93.781575,9.600227,9.259555,9.738767,9.755729,9.505810,9.377273,3.983421,1.419801
std,8.795408e+06,6.143621e+07,NaN,84.489958,1.855939,0.411683,0.747867,1.057797,620.518542,1.122781,...,40.441832,8.281234,0.814303,1.076941,0.696812,0.688818,0.779545,0.883129,12.739250,1.653783
min,2.515000e+03,2.830000e+02,NaN,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.010000
25%,8.146609e+06,7.182520e+06,NaN,1.000000,2.000000,1.000000,1.000000,1.000000,400.000000,1.000000,...,1.000000,91.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,1.000000,0.210000
50%,1.633562e+07,2.660013e+07,NaN,1.000000,2.000000,1.000000,1.000000,1.000000,700.000000,1.000000,...,5.000000,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,0.760000
75%,2.276397e+07,8.264632e+07,NaN,2.000000,4.000000,1.000000,1.000000,2.000000,1000.000000,2.000000,...,23.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000,2.110000
max,2.977318e+07,2.240015e+08,NaN,2271.000000,16.000000,7.000000,10.000000,16.000000,5000.000000,16.000000,...,557.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,132.000000,19.170000

In [1291]:
df = pd.read_csv('train.csv')
df = df.drop(columns=['name', 'summary', 'space', 'description', 'experiences_offered', 'neighborhood_overview',\
                      'notes', 'transit', 'access', 'interaction', 'house_rules', 'host_id', 'host_name',\
                      'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate',\
                      'host_acceptance_rate', 'host_is_superhost', 'host_neighbourhood', 'host_listings_count',\
                      'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood_cleansed',\
                      'city', 'state', 'zipcode', 'market', 'country_code', 'country', 'amenities', 'first_review',\
                      'last_review', 'is_business_travel_ready', 'require_guest_profile_picture',\
                      'require_guest_phone_verification', 'calculated_host_listings_count', 'reviews_per_month'])

In [1292]:
df.columns

Index(['id', 'neighbourhood_group_cleansed', 'property_type', 'room_type',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type',
       'square_feet', 'price', 'guests_included', 'extra_people',
       'minimum_nights', 'maximum_nights', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'cancellation_policy'],
      dtype='object')

In [1293]:
'''
df = df.drop(columns=['square_feet', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness',\
                      'review_scores_checkin', 'review_scores_communication', 'review_scores_location',\
                      'review_scores_value', 'id', 'maximum_nights', 'instant_bookable'])
'''

"\ndf = df.drop(columns=['square_feet', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness',                      'review_scores_checkin', 'review_scores_communication', 'review_scores_location',                      'review_scores_value', 'id', 'maximum_nights', 'instant_bookable'])\n"

In [1294]:
values = {'bathrooms': 1.141376, 'bedrooms': 1.176869, 'beds': 1.571313}
df = df.fillna(value=values)

df['extra_people'] = df['extra_people'].replace('[\$,]', '', regex=True).astype(float)

df['logreviews'] = np.log(1 + df['number_of_reviews'])

df['bedrooms_per_accommodates'] = df['bedrooms'] / df['accommodates']
df.columns

Index(['id', 'neighbourhood_group_cleansed', 'property_type', 'room_type',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type',
       'square_feet', 'price', 'guests_included', 'extra_people',
       'minimum_nights', 'maximum_nights', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'cancellation_policy',
       'logreviews', 'bedrooms_per_accommodates'],
      dtype='object')

In [1295]:
df.isnull().sum()

id                                  0
neighbourhood_group_cleansed        0
property_type                       0
room_type                           0
accommodates                        0
bathrooms                           0
bedrooms                            0
beds                                0
bed_type                            0
square_feet                     33197
price                               0
guests_included                     0
extra_people                        0
minimum_nights                      0
maximum_nights                      0
number_of_reviews                   0
review_scores_rating             7664
review_scores_accuracy           7694
review_scores_cleanliness        7679
review_scores_checkin            7709
review_scores_communication      7689
review_scores_location           7708
review_scores_value              7711
instant_bookable                    0
cancellation_policy                 0
logreviews                          0
bedrooms_per_accommodates           0
dtype: int64

In [1296]:
#df['logreviews'].unique()

In [1297]:
df = df.copy()
print('amount of data original: ' + str(len(df)))
#df = df[df['number_of_reviews'] > 10] ### <<---  Change 10 for any other number to change the minimum number of reviews you require
print('amount of data after removing "few reviews" properties: ' + str(len(df)))

amount of data original: 33538
amount of data after removing "few reviews" properties: 33538

In [1298]:
df.columns

Index(['id', 'neighbourhood_group_cleansed', 'property_type', 'room_type',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type',
       'square_feet', 'price', 'guests_included', 'extra_people',
       'minimum_nights', 'maximum_nights', 'number_of_reviews',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable', 'cancellation_policy',
       'logreviews', 'bedrooms_per_accommodates'],
      dtype='object')

In [1299]:
from math import isnan

def to_float(s):
    try:
        ret = float(s)
    except:
        ret = -1
    if isnan(ret):
        ret = -1
    return ret

def to_int(s):
    try:
        ret = int(s)
    except:
        ret = -1
    return ret

categories_nh = [x for x in list(set(df['neighbourhood_group_cleansed'])) if type(x) is str]
print(len(categories_nh))

categories_rt = [x for x in list(set(df['room_type'])) if type(x) is str]
print(len(categories_rt))

categories_bt = [x for x in list(set(df['bed_type'])) if type(x) is str]
print(len(categories_bt))

categories_pt = [x for x in list(set(df['property_type'])) if type(x) is str]
print(len(categories_pt))

#categories_nc = [x for x in list(set(df['neighbourhood_cleansed'])) if type(x) is str] #dont use
#print(len(categories_nc))

categories_cp = [x for x in list(set(df['cancellation_policy'])) if type(x) is str]
print(len(categories_cp))

def create_feature(row):
    guest_num = to_int(row.guests_included)
    guest_cap = to_int(row.extra_people)
    bedrooms = to_int(row.bedrooms)
    bathrooms = to_float(row.bathrooms)
    review = to_float(row.review_scores_rating)
    beds = to_int(row.beds)
    number_of_reviews = to_int(row.number_of_reviews)
    #zipcode = to_int(row.zipcode)
    accommodates = to_int(row.accommodates)
    #review_scores_cleanliness = to_int(row.review_scores_cleanliness)
    #review_scores_location = to_int(row.review_scores_location)
    #review_scores_value = to_int(row.review_scores_value)
    #reviews_per_month = to_float(row.reviews_per_month) #dont use
    minimum_nights = to_int(row.minimum_nights)
    maximum_nights = to_int(row.maximum_nights)
    
    logreviews = to_float(row.logreviews)
    bedrooms_per_accommodates = to_float(row.bedrooms_per_accommodates)
    
    one_hot_nh = [int(row.neighbourhood_group_cleansed == category) for category in categories_nh]
    one_hot_rt = [int(row.room_type == category) for category in categories_rt]
    one_hot_bt = [int(row.bed_type == category) for category in categories_bt]
    one_hot_pt = [int(row.property_type == category) for category in categories_pt]
    #one_hot_nc = [int(row.neighbourhood_cleansed == category) for category in categories_nc] #dont use
    one_hot_cp = [int(row.cancellation_policy == category) for category in categories_cp]
    
    
    return [guest_num, guest_cap, bedrooms, bathrooms, review, beds, number_of_reviews, accommodates,  minimum_nights, maximum_nights, logreviews, bedrooms_per_accommodates] + one_hot_nh + one_hot_rt + one_hot_bt + one_hot_pt + one_hot_cp

train_X, train_y = [], []
for (idx, row) in df.iterrows():
    price = float(row.price)
    feature = create_feature(row)

    train_X.append(feature)
    train_y.append(price)

print(len(train_X), len(train_y))

5
3
5
29
7
33538 33538

In [1300]:
from sklearn import linear_model

regr = linear_model.LinearRegression()
regr.fit(train_X, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [1301]:
import pandas as pd

test_df = pd.read_csv('test.csv')
test_df.columns

X_test['logreviews'] = np.log(1 + X_test['number_of_reviews'])

X_test['bedrooms_per_accommodates'] = X_test['bedrooms'] / X_test['accommodates']

test_df = X_test

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [1302]:
test_ids, test_X = [], []
for (idx, row) in test_df.iterrows():
    feature = create_feature(row)
    test_ids.append(row.id)
    test_X.append(feature)
test_y = regr.predict(test_X)

In [1303]:
test_y[0:10]

array([173.54880592, 218.97007224, 172.90040362,  73.77096154,
        55.0299028 , 117.88571912,  29.73156887, 130.41882998,
        30.6156898 , 120.77195572])

In [1304]:
print(len(test_y))

8385

In [1305]:
output_df = pd.DataFrame()
output_df['Id'] = test_ids
output_df['Predicted'] = test_y
output_df.to_csv('simple_linear_regression_baseline.csv', index = False)

In [1306]:
output_df.head()

        Id   Predicted
0  4464418  173.548806
1  8566656  218.970072
2  8719005  172.900404
3   324517   73.770962
4  7395202   55.029903

In [1307]:
output_df = output_df.sort_values(by='Id', ascending=True)
output_arr = output_df['Id'].to_numpy()
RMSE_test = output_df['Predicted'].to_numpy()

In [1308]:
actual_X = og_df.loc[og_df['id'].isin(output_arr)]
RMSE_vali = actual_X.sort_values(by='id', ascending=True)['price'].to_numpy()

In [1309]:
actual = RMSE_vali
predicted = RMSE_test

mse = mean_squared_error(actual, predicted)

rmse = math.sqrt(mse)

print(rmse)

96.21043663078224

In [1310]:
X_train.head()

,id,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
8932,26571746,Charming apartment in Brooklyn,Two bedroom apartment in Boerum Hill (Brooklyn...,NaN,Two bedroom apartment in Boerum Hill (Brooklyn...,none,NaN,NaN,NaN,NaN,...,10.0,10.0,8.0,t,f,flexible,f,f,1,0.75
27804,26424595,Cozy Harlem Traveler Room 2,Cozy Harlem Traveler Room 2 features all the l...,NaN,Cozy Harlem Traveler Room 2 features all the l...,none,Trains Luckily you will have access to one of ...,NaN,The quickest way to get around the city from o...,"You can use the Kitchen, Bathroom and Living r...",...,10.0,9.0,9.0,t,f,moderate,f,f,1,0.94
31150,3902791,Luxury West Village 1 bdrm w/ views,"Beautiful, sun-drenched apartment in the heart...","-Huge bedroom with 2 windows, a full closet, a...","Beautiful, sun-drenched apartment in the heart...",none,NaN,NaN,NaN,NaN,...,10.0,10.0,10.0,f,f,moderate,f,f,1,0.10
24241,24558128,midtown Studio,.,all,. all,none,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,f,f,flexible,f,f,2,NaN
2479,9156676,2 Bedrooms 100% Private,2 Bedrooms apartment right next to the train/s...,"(In December last week, I will accept 1 or 2 w...",2 Bedrooms apartment right next to the train/s...,none,"Wonderful and mix neighborhood, very close to ...",NaN,Shopping area and Subway station is just aroun...,Access to entire 2 bedroom apartment that you ...,...,10.0,8.0,8.0,f,f,strict_14_with_grace_period,f,f,4,1.83

In [1311]:
import numpy as np

mean = np.mean(list(df['price']))

In [1312]:
output_df = pd.DataFrame()
output_df['Id'] = test_ids
output_df['Predicted'] = [mean for i in range(len(test_ids))]
output_df.to_csv('mean_value_baseline.csv', index = False)

In [1313]:
output_df.head()

        Id   Predicted
0  4464418  145.177291
1  8566656  145.177291
2  8719005  145.177291
3   324517  145.177291
4  7395202  145.177291